# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# Prisma / MySQL
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=1saku
DB_USERNAME=root
DB_PASSWORD=

# Better Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
